* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Common */

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color1: #333;
}

.clearfix {
    clear: both;
    content: " ";
    display: table;
}

.text-while {
    color: #fff !important;
}


.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: table;
    clear: both;

}

.col {
    padding-left: 8px;
    padding-right: 8px;
    float: left;
}

.col-third {

    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.btn {
    margin-top: 15px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    border: none;

}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/*  */



/* Main */
#main {}

#header {
    height: 47px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

#nav {
    display: inline-block;
}

#nav>li {
    display: inline-block;
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    display: block;
    line-height: 46.5px;
    text-decoration: none;

    padding: 0 24px;
}



#nav>li:hover>a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
}

.subnav>li {
    display: block;

}

#nav .subnav li a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 16px;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
}

#header .mobile-menu-btn .menu-icon {
    color: #fff;
    padding: 14px 2px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}


i.menu-icon.fa-solid.fa-bars {
    color: #fff;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
    height: 46.5px;
}


#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;

}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#slider .img1 {
    width: 100%;
    padding-top: 47px;
}


#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;

}

#slider .text-heding {
    font-size: 24px;

}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    font-weight: 700;
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;

}

#content .about-text {
    font-size: 15px;
    margin-top: 15px;
    text-align: justify;
    line-height: 1.4;
}


#content .members-list {
    margin-top: 48px;
    display: flex;
    justify-content: space-around;

}

#content .member-name {
    font-size: 15px;

}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour section */

.tour-section {
    background-color: #000;
}

.tour-section .tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;

}

/* .Place */


.place-list {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;


}


.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;

}




/* Contact from */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="fa-solid fa"] {

    width: 30px;
}

.contact-info a {
    color: #00e;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.pull-right {
    float: right !important;
}

/* Map section */
.map-section img {
    width: 100%;
}

/* Footer section */


#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;

}

#footer .socials-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .socials-list a:hover,
#footer .copyright a:hover {

    color: rgba(0, 0, 0, 0.4);

}

#footer .copyright {
    margin: 15px 0;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

/* Modal */
.modal {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;

}

.modal-container {
    background-color: #fff;
    min-height: 200px;
    width: 900px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFacein ease .5s;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #ffff;
    padding: 16px;
    cursor: pointer;
    opacity: 0.85;
}

.modal-body {
    padding: 16px;
}


.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;

}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.9;
    color: #000;
    background-color: #ccc;
}

#buy-tickets {
    background-color: #009688;
    border: none;
    font-size: 15px;
    color: #fff;
    /* display: block; */
    width: 100%;
    text-transform: uppercase;
    padding: 18px;
}

footer.modal-footer {
    padding: 16px;
    text-align: right;

}

footer.modal-footer a {
    color: #2196F3;
}


@keyframes modalFacein {
    from {
        transform: translateY(-150px);
        opacity: 0;

    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }

}